
<!-- list layout (e.g. tags/categories) -->

{{ partial "header.html" . }}

<div id="main">
  <div id="content">
    <div>
      <article role="article">
        <header>
          <h1 class="entry-title">
            {{ if eq .Data.Singular "category" }}Категория: {{ .Title }}
            {{ else if eq .Data.Singular "tag" }}Тег: {{ .Title }}
            {{ else if .Data.Singular }}{{ .Data.Singular | title }}: {{ .Title }}
            {{ end }}
          </h1>
        </header>
        <div id="blog-archives" class="category">
          {{ range .Data.Pages }}
          <h2>
            {{ .Date | dateFormat "2006"}}
          </h2>
          <article>
            <h1>
              <a href="{{ .Permalink }}" title="{{ .Title }}">{{ .Title }}</a>
            </h1>
            {{ $months := slice "января" "февраля" "марта" "апреля" "мая" "июня" "июля" "августа" "сентября" "октября" "ноября" "декабря" }}
            <time>
              <span class="day">{{ .Date.Day }} {{ index $months (sub (int .Date.Month) 1) }}</span>
            </time>
            <footer>
              <span class="categories"> <!-- show categories and tags -->
                {{ $.Scratch.Set "cats" .Params.categories }}
                {{ with .Params.categories }}
                Категории:
                {{ range ($.Scratch.Get "cats") }} <a class="category" href="{{ "/categories/" | absURL }}{{ . | urlize | lower }}">{{ . }}</a>{{ end }}
              </br>
                {{ end }}

                {{ $.Scratch.Set "tags" .Params.tags }}
                {{ with .Params.tags }}
                Теги:
                {{ range ($.Scratch.Get "tags") }} <a class="category" href="{{ "/tags/" | absURL }}{{ . | urlize | lower }}">{{ . }}</a>{{ end }}
                {{ end }}
              </span>
            </footer>
          </article>
          {{ end }}
        </div>
      </article>
    </div>

    {{ partial "sidebar.html" . }}
  </div>
</div>

{{ partial "footer.html" . }}
